.containerPresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30%;

  h1 {
    font-family: var(--font-family-secondary);
    font-size: 1.4rem;
    margin-top: 3rem;
  }

  p {
    text-align: center;
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 299px;
    margin-top: 10px;
  }

  a {
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

.containerLinkedin {
  display: none;
}
.containerProjects {
  width: 70%;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  border-radius: 10px;
}

.customPrev,
.customNext {
  display: none;
  font-size: 50px;
  color: var(--color-secondary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease;
}

.customPrev {
  left: -40px;
}

.customNext {
  right: -40px;
}

.customPrev:hover,
.customNext:hover {
  color: var(--color-third);
}

@media (min-width: 1032px) {
  .containerPresentation {
    margin-top: 5%;
    p {
      text-align: center;
    }
  }
  .containerProjects {
    width: 40%;
    height: 70vh;
  }
  .customPrev,
  .customNext {
    display: block;
  }
}
