.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 400px;
    margin-left: 20px;
  
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative; 
  
      hr {
        height: 0.1px;
      }
  
      img {
        width: 60px;
        cursor: pointer;
      }
  
      .iconName {
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        color: var(--color-secondary);
        font-family: var(--font-family-secondary);
        font-weight: 600;
        padding: 5px;
        border-radius: 5px;
        z-index: 1;
        left: -5px;
        top: 100%;
        transform: translateY(-50%);
      }
  
      &:hover .iconName {
        opacity: 1;
      }
    }
  }
  
  .JS {
    hr {
      width: 100px;
    }
  
    img {
      margin-right: 200px;
    }
  }
  
  .TS {
    hr {
      width: 150px;
    }
  
    img {
      margin-right: 150px;
    }
  }
  
  .Node {
    hr {
      width: 200px;
    }
  
    img {
      margin-right: 100px;
    }
  }
  
  .React {
    hr {
      width: 250px;
    }
  
    img {
      margin-right: 50px;
    }
  }
  
  .Sass {
    hr {
      width: 300px;
    }
  
    img {
      margin-right: 0px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      margin-top: 10px;
      margin-left: 55px;
    }
  }
  